*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;
}

body{

background:#0B0F17;

color:white;

min-height:100vh;

overflow-x:hidden;
}

.background-blur{

position:fixed;

width:600px;
height:600px;

background:#c89b3c33;

filter:blur(180px);

top:-200px;
right:-100px;

z-index:-1;
}

header{

text-align:center;

padding:60px 20px;
}

.logo{

width:140px;

border-radius:32px;

box-shadow:0 0 40px rgba(200,155,60,.35);
}

h1{

margin-top:20px;

font-size:3rem;

color:#E9DFC5;
}

header p{

margin-top:15px;

font-size:1.1rem;

color:#cfcfcf;
}

.hero{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:20px;

padding:40px;
}

.card{

background:#151922;

border:1px solid rgba(255,255,255,.06);

padding:30px;

border-radius:24px;

backdrop-filter:blur(12px);

transition:.3s;
}

.card:hover{

transform:translateY(-5px);

border-color:#c89b3c;
}

.download{

text-align:center;

padding:60px 20px;
}

.download h2{

font-size:2rem;

margin-bottom:20px;
}

#deviceInfo{

margin-bottom:25px;

color:#d4d4d4;
}

#downloadBtn{

display:inline-block;

padding:18px 40px;

background:#c89b3c;

color:black;

text-decoration:none;

font-weight:700;

border-radius:15px;

transition:.3s;
}

#downloadBtn:hover{

transform:scale(1.05);
}

footer{

padding:40px;

text-align:center;

color:#999;
}
